@font-face {
    font-family: 'calligraffitiregular';
    src: url('fonts/Calligraffiti-webfont.eot');
    src: url('fonts/Calligraffiti-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Calligraffiti-webfont.woff2') format('woff2'),
         url('fonts/Calligraffiti-webfont.woff') format('woff'),
         url('fonts/Calligraffiti-webfont.ttf') format('truetype'),
         url('fonts/Calligraffiti-webfont.svg#calligraffitiregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'calligraffitiregular', Geogia, Arial, sans-serif;
    text-align: justify;
}

h1
{
	text-decoration: underline;
    color: rgb(120, 20, 20);
    text-shadow: 6px 6px 6px brown;
    text-align: center;

}

.quality
{
    list-style-type: kannada;

}

.imageflottante
{
    float: left;
    width: 200px;
    height: 300px;
    box-shadow: 6px 6px 6px black;
}
 #conteneur
 {
    display: flex;
    flex-wrap: wrap;
 }

 .element
 {
    margin: auto;
 }
 
